@font-face {
    font-family: "poiretone";
    font-style: normal;
    font-weight: 400;
    src: url("./font/PoiretOne-Regular.ttf");
}
body{
    font-family: "poiretone";
}

nav>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
li{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover{
    font-weight: 600;
    animation-duration: 1s;
    color: rgb(228, 119, 119);
}
hr{
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    
}
h1{
    text-align: center;
    font-size: 70px;
}
h2{
    text-align: center;
    font-size: 50px;
}
h3{
    text-align: center;
    font-size: 35px;
}
h4{
    text-align: center;
    font-size: 20px;

}
section{
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
    margin-bottom: 30px;
}
section > div{
    background-color: rgb(207, 206, 206);
    margin-bottom: 20px;
}
img{
    width: 200px;
    height: auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;

}
.row > div{
    background-color: rgb(222, 222, 222);
    margin: 20px;
}
.row p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
ol{
    visibility: hidden;
}
#third{
    margin-right: 0;
}
#first{
    margin-left: 0;
}
abbr{
    font-style: italic;
    color: rgb(228, 119, 119);
}
footer li {
    font-size: 20px;
}


@media all and (max-width: 1024px){
 
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    h3{
       font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
    hr{
        margin-left: 50px;
        margin-right: 50px;
    }
    ol{
        visibility: visible;
    }
    .row{
        flex-direction: column;
    }
    .row > div{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media all and (max-width: 950px){
   
    ol>li{
        font-size: 15px;
    }
    ol>li>a{
        font-size: 15px;
    }
    img{
        width: 150px;
        height: auto;
    }
    .row{
        margin: auto;
    }
}
@media all and (max-width: 550px){
    footer li {
        font-size: 15px;
    }
     a{
        font-size: 15px;
    }
    hr{
        margin-left: 20px;
        margin-right: 20px;
    }

}
@media all and (max-width: 350px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
       font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
}

@media print {
    body{
        width: 100%;
    }
    main>div{
        break-inside:avoid; 
    }
}